.features-block {
    border-radius: $border-radius;
    height: 600px;
    background: $w;
    color: $bl;
    padding: $two;
    margin: $two;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .text-container {
        .text {
            text-align: left;
            max-width: 25rem;

            .block-title {
                font-weight: bold;
                font-size: $four;
                margin-bottom: $two;
            }
        }
    }
}

.amp-carousel-button {
    border-radius: $border-radius;
    background-color: #{$b}CC;
    padding: $three;
    background-size: $three $three;
}

@media (min-width: 1100px) {
    .features-block {
        margin: auto;
        max-width: 1000px;

        .text-container {
            flex: 2;

            .text {
                margin-right: auto;
                margin-left: $two;
                text-align: left;

                .block-title {
                    font-weight: bold;
                    font-size: $four;
                }
            }
        }

        amp-img {

            img {
                object-fit: contain;
            }
        }

        .mobile-img {
            flex: 1;
        }

        .desktop-img {
            flex: 2;
        }
    }

    .amp-carousel-button {
        height: 4rem;
    }

    .amp-carousel-button-next {
        right: 9rem;
    }

    .amp-carousel-button-prev {
        left: 9rem;
    }

    .features-hide-big {
        display: none;
    }
}

@media (max-width: 1099px) {
    .features-block {
        display: flex;

        padding: $two;

        amp-img:not(.desktop-img) {
            max-width: 200px;
            max-height: 800px;
            float: left;
            -webkit-shape-outside: inset();
            shape-outside: inset();

            img {
                object-fit: contain;
            }

            padding-top: $one;
        }

        amp-img.desktop-img {
            margin-bottom: $two;
            border-radius: $border-radius;
        }
    }

    .features-hide-small {
        display: none;
    }
}